# https://editorconfig.org
# Match the WordPress Coding Standards: tabs for PHP / CSS / JS,
# spaces for the data-format files (YAML, JSON, Markdown).

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.{php,css,scss,js}]
indent_style = tab
indent_size = 4

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
# Markdown allows trailing two-space hard breaks.
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{html,xml}]
indent_style = tab
indent_size = 4
